<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605864898154-32nko42gf73cpil4jhjcm5g88ovf156r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605864898154-32nko42gf73cpil4jhjcm5g88ovf156r</string>
	<key>API_KEY</key>
	<string>AIzaSyDEQFyA_EMB-uUhSims3yKOEn6wrNFGlrs</string>
	<key>GCM_SENDER_ID</key>
	<string>605864898154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ingredientsScanner</string>
	<key>PROJECT_ID</key>
	<string>ingredientscheck</string>
	<key>STORAGE_BUCKET</key>
	<string>ingredientscheck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605864898154:ios:c87e110c6fe1fa1948e413</string>
</dict>
</plist>